on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

name: Test
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.16
        node-version:
          - 14.15.4
        os:
          - ubuntu-latest
    steps:
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Re-vendor
        run: ./_scripts/revendorToolsInternal.sh
      - name: Regenerate
        run: go generate $(go list ./... | grep -v cuelang_org_go_internal)
      - name: Check module is tidy
        run: go mod tidy
      - name: Verify commit is clean
        run: test -z "$(git status --porcelain)" || (git status; git diff; false)
